{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}
	<h1>{{ produit.titre }}</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ produit.id }}</td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ produit.titre }}</td>
			</tr>
			<tr>
				<th>Couleur</th>
				<td>{{ produit.couleur }}</td>
			</tr>
			<tr>
				<th>Prix</th>
				<td>{{ produit.prix }}&euro;</td>
			</tr>
			<tr>
				<th>Stock</th>
				<td>{{ produit.stock }}</td>
			</tr>
			<tr>
				<th>Photo</th>
				<td><img class="img-show" src="{{ url_images_produits ~ produit.photo }}" alt="{{ produit.titre }}"></td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path("panier_ajouter", {id: produit.id}) }}" class="btn btn-primary">Ajouter au panier</a>
	<a href="{{ path('home') }}" class="btn btn-primary">Retour</a>
{% endblock %}
