{% extends 'base.html.twig' %}

{% block title %}Produits
{% endblock %}

{% block body %}
	<h1>Produits</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Couleur</th>
				<th>Prix</th>
				<th>Stock</th>
				<th>Photo</th>
				<th>Catégorie(s)</th>
				<th colpsan="2">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for produit in produits %}
				<tr>
					<td>{{ produit.id }}</td>
					<td>{{ produit.titre }}</td>
					<td>{{ produit.couleur }}</td>
					<td>{{ produit.prix }}</td>
					<td>{{ produit.stock }}</td>
					<td>{# <img class="img-tab w-25" src="{{ url_images_produits ~ produit.photo }}" alt="{{ produit.titre }}"> #}</td>
					<td>
						{% for categorie in produit.categorie %}
							{{ categorie.titre ~ (loop.last ? "" : ", ") }}
						{% endfor %}
					</td>
					<td>
						<a href="{{ path('produit_show', {'id': produit.id}) }}">
							<i class="fas fa-eye"></i>
						</a>
					</td>
					<td>
						<a href="{{ path('produit_edit', {'id': produit.id}) }}">
							<i class="fas fa-edit"></i>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">Aucun résultat trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('produit_new') }}" class="btn btn-primary">Nouveau produit</a>
{% endblock %}
